name: Coverage Report

on:
  pull_request:
    branches: ["**"]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Bootstrap poetry
        run: |
          curl -sSL https://install.python-poetry.org | POETRY_VERSION=1.8.2 python -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Configure poetry
        run: poetry config virtualenvs.in-project true

      - name: Install dependencies
        run: poetry install --with dev

      - name: Run pre-commit hooks
        run: poetry run make pre_commit

      - name: Run tests with coverage
        run: poetry run pytest --cov=nemoguardrails tests/ --cov-report=xml:coverage.xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: ./coverage/reports/
          env_vars: PYTHON
          fail_ci_if_error: true
          files: ./coverage.xml
          flags: python
          name: codecov-umbrella
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
